<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hosinc.shopperapp.shopper.app">

    <application
        android:icon="@mipmap/wolflogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wolflogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".biz.profile.BsProfileContact"></activity>
        <activity android:name=".biz.profile.BsProfileGallery" />
        <activity android:name=".biz.profile.BsProfileMainUpdateActivity" />
        <activity android:name=".biz.profile.BsProfile" />
        <activity android:name=".BsSellActivity" />
        <activity android:name=".BsChatActivity" />
        <activity android:name=".RegisterVerifyProcess" />
        <activity android:name=".biz.profile.BsUpdateProfile" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BsProductDetail" />
        <activity android:name=".BsMyProduct" />
        <activity android:name=".BsHomePage" />
        <activity android:name=".ActivityForgotPassword" />
        <activity android:name=".ChooseInterests" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcomeProcess.IntroActivity" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".HomeNavigation" />
    </application>

</manifest>